name: Test

on:
  pull_request:
    branches:
      - main
      - develop

jobs:
  call-pytest-workflow:
    # Docs: https://github.com/ASFHyP3/actions
    uses: ASFHyP3/actions/.github/workflows/reusable-pytest.yml@v0.11.0
    with:
      local_package_name: burst2safe
