name: Test

on:
  pull_request:
    branches:
      - main
      - develop

jobs:
  pytest:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python_version: ["3.10", "3.11", "3.12"]

    steps:
      - uses: actions/checkout@v4

      - uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: environment.yml
          create-args: >-
            python=${{ matrix.python_version }}

      - name: Pytest in conda environment
        shell: bash -l {0}
        run: |
          python -m pip install --no-deps .
          pytest --cov=burst2safe
